# Analyse  exploratoire

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

#### Instanciation du nom de colonne
#### Instanciation d'un Dataframe avec le nom des colonnes
#### Boucle pour lire chaque Dataset et les fusionner 
#### rajout de la colonne "marque" avec les valeurs adéquates

In [2]:
import os
colonnes = ["marque","model","year","price","transmission","mileage","fuelType","tax","mpg","engineSize"]
data = pd.DataFrame([],columns=colonnes)
debut = 0
for file in os.listdir("dataset_auto"):
    if '.csv' in file:
        data = pd.concat([data,pd.read_csv("dataset_auto/"+file)], ignore_index=True)
        data.iloc[debut:data.shape[0],0] = file.split('.csv')[0]
        debut = data.shape[0]
data

,marque,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,audi,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4
1,audi,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0
2,audi,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4
3,audi,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0
4,audi,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0
...,...,...,...,...,...,...,...,...,...,...
99182,vw,Eos,2012,5990,Manual,74000,Diesel,125,58.9,2.0
99183,vw,Fox,2008,1799,Manual,88102,Petrol,145,46.3,1.2
99184,vw,Fox,2009,1590,Manual,70000,Petrol,200,42.0,1.4
99185,vw,Fox,2006,1250,Manual,82704,Petrol,150,46.3,1.2
99186,vw,Fox,2007,2295,Manual,74000,Petrol,145,46.3,1.2

# affichage test des données

In [3]:
print(data.loc[data["marque"]=="audi",:])

      marque model  year  price transmission mileage fuelType  tax   mpg  \
0       audi    A1  2017  12500       Manual   15735   Petrol  150  55.4
1       audi    A6  2016  16500    Automatic   36203   Diesel   20  64.2
2       audi    A1  2016  11000       Manual   29946   Petrol   30  55.4
3       audi    A4  2017  16800    Automatic   25952   Diesel  145  67.3
4       audi    A3  2019  17300       Manual    1998   Petrol  145  49.6
...      ...   ...   ...    ...          ...     ...      ...  ...   ...
10663   audi    A3  2020  16999       Manual    4018   Petrol  145  49.6
10664   audi    A3  2020  16999       Manual    1978   Petrol  150  49.6
10665   audi    A3  2020  17199       Manual     609   Petrol  150  49.6
10666   audi    Q3  2017  19499    Automatic    8646   Petrol  150  47.9
10667   audi    Q3  2016  15999       Manual   11855   Petrol  150  47.9

       engineSize
0             1.4
1             2.0
2             1.4
3             2.0
4             1.0
...           ...
10663         1.0
10664         1.0
10665         1.0
10666         1.4
10667         1.4

[10668 rows x 10 columns]

## Fréquence de chaque valeurs de chaque caractérisques

In [4]:
def affichage_freq():
    for caracteristique in colonnes:
        print("=====",caracteristique,"=====")
        print(data[caracteristique].value_counts())
        print("***========================================***")
affichage_freq()

===== marque =====
ford        17965
vw          15157
vauxhall    13632
merc        13119
bmw         10781
audi        10668
toyota       6738
skoda        6267
hyundi       4860
Name: marque, dtype: int64
***========================================***
===== model =====
 Fiesta     6557
 Golf       4863
 Focus      4588
 C Class    3747
 Corsa      3441
            ...
 Amica         1
220            1
200            1
 Escort        1
 Ranger        1
Name: model, Length: 195, dtype: int64
***========================================***
===== year =====
2019    26771
2017    21733
2016    15850
2018    13664
2015     7645
2020     4465
2014     4085
2013     2603
2012      634
2011      432
2010      340
2009      278
2008      200
2007      163
2006       86
2005       69
2004       52
2003       34
2002       31
2001       20
2000        9
1998        8
1999        6
1997        4
1970        2
1996        2
2060        1
Name: year, dtype: int64
***========================================***
===== price =====
9995     594
8995     494
10995    483
12995    447
7995     433
        ...
79299      1
13752      1
13751      1
13746      1
32760      1
Name: price, Length: 13236, dtype: int64
***========================================***
===== transmission =====
Manual       56445
Semi-Auto    22677
Automatic    20056
Other            9
Name: transmission, dtype: int64
***========================================***
===== mileage =====
10       840
1000     747
5000     686
6000     492
100      453
        ...
26934      1
26929      1
1071       1
26921      1
47252      1
Name: mileage, Length: 42214, dtype: int64
***========================================***
===== fuelType =====
Petrol      54928
Diesel      40928
Hybrid       3078
Other         247
Electric        6
Name: fuelType, dtype: int64
***========================================***
===== tax =====
145    48459
150    10914
30      8482
20      8343
125     6609
0       6294
200     2437
160     2066
135     1230
205      697
165      681
235      667
260      540
140      371
300      342
240      202
325      185
265      175
305       99
555       78
570       57
330       51
10        25
565       22
190       19
195       16
120       14
155       12
115       12
580       11
230       10
270        9
315        8
220        7
540        6
290        6
280        6
185        5
250        4
245        3
255        3
130        2
210        2
110        2
295        1
515        1
520        1
535        1
Name: tax, dtype: int64
***========================================***
===== mpg =====
60.1    6160
65.7    4717
54.3    4125
64.2    3607
51.4    3589
        ...
44.6       1
19.0       1
33.3       1
53.5       1
19.5       1
Name: mpg, Length: 208, dtype: int64
***========================================***
===== engineSize =====
2.0    27233
1.0    17323
1.5    11418
1.4    11027
1.6     8837
1.2     6963
3.0     5447
2.1     4018
1.8     1717
1.3     1372
1.7      911
1.1      567
2.2      469
2.5      456
4.0      357
0.0      273
2.9      171
2.3      153
4.4       79
2.4       72
5.0       52
5.5       44
2.8       41
1.9       27
3.2       27
4.2       26
4.7       24
5.2       23
3.5       20
6.2       13
2.7        8
0.6        7
6.6        2
6.0        2
3.7        2
4.1        2
5.4        1
4.5        1
6.3        1
4.3        1
Name: engineSize, dtype: int64
***========================================***

## Changement de nom de colonne

In [5]:
position = colonnes.index("mileage")
if position > -1 :
    colonnes[position]= "kilometrage"
colonnes

['marque',
 'model',
 'year',
 'price',
 'transmission',
 'kilometrage',
 'fuelType',
 'tax',
 'mpg',
 'engineSize']

## Renomage de la colonne mileage en kilometrage

In [6]:
data = data.rename(columns={"mileage": "kilometrage"})
data

,marque,model,year,price,transmission,kilometrage,fuelType,tax,mpg,engineSize
0,audi,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4
1,audi,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0
2,audi,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4
3,audi,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0
4,audi,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0
...,...,...,...,...,...,...,...,...,...,...
99182,vw,Eos,2012,5990,Manual,74000,Diesel,125,58.9,2.0
99183,vw,Fox,2008,1799,Manual,88102,Petrol,145,46.3,1.2
99184,vw,Fox,2009,1590,Manual,70000,Petrol,200,42.0,1.4
99185,vw,Fox,2006,1250,Manual,82704,Petrol,150,46.3,1.2
99186,vw,Fox,2007,2295,Manual,74000,Petrol,145,46.3,1.2

## Convertion

In [7]:
data["kilometrage"] = data["kilometrage"] * 1609 / 1000
data

,marque,model,year,price,transmission,kilometrage,fuelType,tax,mpg,engineSize
0,audi,A1,2017,12500,Manual,25317.615,Petrol,150,55.4,1.4
1,audi,A6,2016,16500,Automatic,58250.627,Diesel,20,64.2,2.0
2,audi,A1,2016,11000,Manual,48183.114,Petrol,30,55.4,1.4
3,audi,A4,2017,16800,Automatic,41756.768,Diesel,145,67.3,2.0
4,audi,A3,2019,17300,Manual,3214.782,Petrol,145,49.6,1.0
...,...,...,...,...,...,...,...,...,...,...
99182,vw,Eos,2012,5990,Manual,119066.0,Diesel,125,58.9,2.0
99183,vw,Fox,2008,1799,Manual,141756.118,Petrol,145,46.3,1.2
99184,vw,Fox,2009,1590,Manual,112630.0,Petrol,200,42.0,1.4
99185,vw,Fox,2006,1250,Manual,133070.736,Petrol,150,46.3,1.2
99186,vw,Fox,2007,2295,Manual,119066.0,Petrol,145,46.3,1.2

## affichage des transmission Other

In [8]:
print(data.loc[data["transmission"]=="Other",:])

         marque       model  year  price transmission kilometrage fuelType  \
44153    hyundi       Ioniq  2017  12495        Other   44696.411   Hybrid
44175    hyundi      Tucson  2017  16995        Other   41697.235   Petrol
53924      merc   GLA Class  2016  18700        Other   49710.055    Other
57036      merc         SLK  2015  12995        Other     62751.0   Diesel
63519     skoda       Scala  2019  15999        Other      5631.5   Petrol
66118    toyota       Yaris  2015  12795        Other   26923.397   Hybrid
77102  vauxhall       Mokka  2019  19995        Other     2333.05   Diesel
77717  vauxhall       Mokka  2019  13499        Other      4827.0   Petrol
77820  vauxhall       Mokka  2019  22499        Other      7240.5   Petrol

       tax   mpg  engineSize
44153    0  78.5         1.6
44175  145  39.8         1.6
53924  125  56.5         0.0
57036  150  56.5         2.1
63519  145  47.1         1.0
66118    0  78.0         1.5
77102  145  57.7         1.5
77717  145  44.8         1.4
77820  145  42.2         1.5

## affichage des  engineSize 0

In [9]:
print(data.loc[data["engineSize"]==0.0,:])

      marque    model  year  price transmission kilometrage fuelType  tax  \
7505    audi       Q5  2019  44790    Automatic    9470.574   Petrol  135
7506    audi       Q3  2019  32788    Automatic      2413.5   Diesel  145
7516    audi       Q3  2020  29944       Manual      2413.5   Petrol  145
7517    audi       Q3  2020  33333    Automatic      2413.5   Diesel  145
7518    audi       Q3  2020  29944    Automatic      2413.5   Petrol  145
...      ...      ...   ...    ...          ...         ...      ...  ...
95678     vw   Tiguan  2016  15300       Manual   61782.382   Diesel  145
95685     vw   Tiguan  2018  24000    Automatic     35719.8   Diesel  145
96851     vw       Up  2017   8500       Manual   32701.316   Petrol   20
96909     vw       Up  2017   8000       Manual   39330.396   Petrol   20
97342     vw   Beetle  2017  13800       Manual   28735.131   Petrol  125

         mpg  engineSize
7505   117.7         0.0
7506    47.1         0.0
7516    40.9         0.0
7517    47.1         0.0
7518    32.5         0.0
...      ...         ...
95678   53.3         0.0
95685   47.9         0.0
96851   64.2         0.0
96909   60.1         0.0
97342   53.3         0.0

[273 rows x 10 columns]

In [10]:
data.describe()

                mpg    engineSize
count  99187.000000  99187.000000
mean      55.166825      1.663280
std       16.138522      0.557646
min        0.300000      0.000000
25%       47.100000      1.200000
50%       54.300000      1.600000
75%       62.800000      2.000000
max      470.800000      6.600000

## affichage de la valeur max du mpg

In [11]:
data["mpg"].max()

470.8

## affichage du nombre de mpg supérieur à 40

In [12]:
(data["mpg"] >= 40).value_counts()

True     88131
False    11056
Name: mpg, dtype: int64

In [13]:
print(data.loc[data["transmission"]=="Other",:])

         marque       model  year  price transmission kilometrage fuelType  \
44153    hyundi       Ioniq  2017  12495        Other   44696.411   Hybrid
44175    hyundi      Tucson  2017  16995        Other   41697.235   Petrol
53924      merc   GLA Class  2016  18700        Other   49710.055    Other
57036      merc         SLK  2015  12995        Other     62751.0   Diesel
63519     skoda       Scala  2019  15999        Other      5631.5   Petrol
66118    toyota       Yaris  2015  12795        Other   26923.397   Hybrid
77102  vauxhall       Mokka  2019  19995        Other     2333.05   Diesel
77717  vauxhall       Mokka  2019  13499        Other      4827.0   Petrol
77820  vauxhall       Mokka  2019  22499        Other      7240.5   Petrol

       tax   mpg  engineSize
44153    0  78.5         1.6
44175  145  39.8         1.6
53924  125  56.5         0.0
57036  150  56.5         2.1
63519  145  47.1         1.0
66118    0  78.0         1.5
77102  145  57.7         1.5
77717  145  44.8         1.4
77820  145  42.2         1.5

## supression des lignes dont la transmission est égale à Other

In [14]:
data.drop(data.loc[data["transmission"]=="Other"].index, inplace=True)

## verification de la supression des lignes

In [15]:
print(data.loc[data["transmission"]=="Other",:])

Empty DataFrame
Columns: [marque, model, year, price, transmission, kilometrage, fuelType, tax, mpg, engineSize]
Index: []

In [16]:
data

,marque,model,year,price,transmission,kilometrage,fuelType,tax,mpg,engineSize
0,audi,A1,2017,12500,Manual,25317.615,Petrol,150,55.4,1.4
1,audi,A6,2016,16500,Automatic,58250.627,Diesel,20,64.2,2.0
2,audi,A1,2016,11000,Manual,48183.114,Petrol,30,55.4,1.4
3,audi,A4,2017,16800,Automatic,41756.768,Diesel,145,67.3,2.0
4,audi,A3,2019,17300,Manual,3214.782,Petrol,145,49.6,1.0
...,...,...,...,...,...,...,...,...,...,...
99182,vw,Eos,2012,5990,Manual,119066.0,Diesel,125,58.9,2.0
99183,vw,Fox,2008,1799,Manual,141756.118,Petrol,145,46.3,1.2
99184,vw,Fox,2009,1590,Manual,112630.0,Petrol,200,42.0,1.4
99185,vw,Fox,2006,1250,Manual,133070.736,Petrol,150,46.3,1.2
99186,vw,Fox,2007,2295,Manual,119066.0,Petrol,145,46.3,1.2

## affichage de l'aperçu pour vérification de la supression

In [17]:
affichage_freq()

===== marque =====
ford        17965
vw          15157
vauxhall    13629
merc        13117
bmw         10781
audi        10668
toyota       6737
skoda        6266
hyundi       4858
Name: marque, dtype: int64
***========================================***
===== model =====
 Fiesta     6557
 Golf       4863
 Focus      4588
 C Class    3747
 Corsa      3441
            ...
 Amica         1
220            1
200            1
 Escort        1
 Ranger        1
Name: model, Length: 195, dtype: int64
***========================================***
===== year =====
2019    26767
2017    21731
2016    15849
2018    13664
2015     7643
2020     4465
2014     4085
2013     2603
2012      634
2011      432
2010      340
2009      278
2008      200
2007      163
2006       86
2005       69
2004       52
2003       34
2002       31
2001       20
2000        9
1998        8
1999        6
1997        4
1970        2
1996        2
2060        1
Name: year, dtype: int64
***========================================***
===== price =====
9995     594
8995     494
10995    483
12995    446
7995     433
        ...
79299      1
13752      1
13751      1
13746      1
32760      1
Name: price, Length: 13236, dtype: int64
***========================================***
===== transmission =====
Manual       56445
Semi-Auto    22677
Automatic    20056
Name: transmission, dtype: int64
***========================================***
===== kilometrage =====
16.090       840
1609.000     747
8045.000     686
9654.000     492
160.900      453
            ...
82258.516      1
12342.639      1
97064.534      1
38429.356      1
65536.179      1
Name: kilometrage, Length: 42214, dtype: int64
***========================================***
===== fuelType =====
Petrol      54924
Diesel      40926
Hybrid       3076
Other         246
Electric        6
Name: fuelType, dtype: int64
***========================================***
===== tax =====
145    48454
150    10913
30      8482
20      8343
125     6608
0       6292
200     2437
160     2066
135     1230
205      697
165      681
235      667
260      540
140      371
300      342
240      202
325      185
265      175
305       99
555       78
570       57
330       51
10        25
565       22
190       19
195       16
120       14
155       12
115       12
580       11
230       10
270        9
315        8
220        7
540        6
290        6
280        6
185        5
250        4
245        3
255        3
130        2
210        2
110        2
295        1
515        1
520        1
535        1
Name: tax, dtype: int64
***========================================***
===== mpg =====
60.1    6160
65.7    4717
54.3    4125
64.2    3607
51.4    3589
        ...
44.6       1
19.0       1
33.3       1
53.5       1
19.5       1
Name: mpg, Length: 208, dtype: int64
***========================================***
===== engineSize =====
2.0    27233
1.0    17322
1.5    11415
1.4    11026
1.6     8835
1.2     6963
3.0     5447
2.1     4017
1.8     1717
1.3     1372
1.7      911
1.1      567
2.2      469
2.5      456
4.0      357
0.0      272
2.9      171
2.3      153
4.4       79
2.4       72
5.0       52
5.5       44
2.8       41
1.9       27
3.2       27
4.2       26
4.7       24
5.2       23
3.5       20
6.2       13
2.7        8
0.6        7
6.6        2
6.0        2
3.7        2
4.1        2
5.4        1
4.5        1
6.3        1
4.3        1
Name: engineSize, dtype: int64
***========================================***

## reset du index

In [18]:
data.reset_index(drop=True, inplace=True)
data

,marque,model,year,price,transmission,kilometrage,fuelType,tax,mpg,engineSize
0,audi,A1,2017,12500,Manual,25317.615,Petrol,150,55.4,1.4
1,audi,A6,2016,16500,Automatic,58250.627,Diesel,20,64.2,2.0
2,audi,A1,2016,11000,Manual,48183.114,Petrol,30,55.4,1.4
3,audi,A4,2017,16800,Automatic,41756.768,Diesel,145,67.3,2.0
4,audi,A3,2019,17300,Manual,3214.782,Petrol,145,49.6,1.0
...,...,...,...,...,...,...,...,...,...,...
99173,vw,Eos,2012,5990,Manual,119066.0,Diesel,125,58.9,2.0
99174,vw,Fox,2008,1799,Manual,141756.118,Petrol,145,46.3,1.2
99175,vw,Fox,2009,1590,Manual,112630.0,Petrol,200,42.0,1.4
99176,vw,Fox,2006,1250,Manual,133070.736,Petrol,150,46.3,1.2
99177,vw,Fox,2007,2295,Manual,119066.0,Petrol,145,46.3,1.2

## définition de la fonction effacement

In [19]:
def effacement(data, col, val):
    data.drop(data.loc[data[col]== val].index, inplace=True)
    data.reset_index(drop=True, inplace=True)
    data

In [20]:
effacement(data,"year",2060)

In [21]:
data

,marque,model,year,price,transmission,kilometrage,fuelType,tax,mpg,engineSize
0,audi,A1,2017,12500,Manual,25317.615,Petrol,150,55.4,1.4
1,audi,A6,2016,16500,Automatic,58250.627,Diesel,20,64.2,2.0
2,audi,A1,2016,11000,Manual,48183.114,Petrol,30,55.4,1.4
3,audi,A4,2017,16800,Automatic,41756.768,Diesel,145,67.3,2.0
4,audi,A3,2019,17300,Manual,3214.782,Petrol,145,49.6,1.0
...,...,...,...,...,...,...,...,...,...,...
99172,vw,Eos,2012,5990,Manual,119066.0,Diesel,125,58.9,2.0
99173,vw,Fox,2008,1799,Manual,141756.118,Petrol,145,46.3,1.2
99174,vw,Fox,2009,1590,Manual,112630.0,Petrol,200,42.0,1.4
99175,vw,Fox,2006,1250,Manual,133070.736,Petrol,150,46.3,1.2
99176,vw,Fox,2007,2295,Manual,119066.0,Petrol,145,46.3,1.2

In [22]:
affichage_freq()

===== marque =====
ford        17964
vw          15157
vauxhall    13629
merc        13117
bmw         10781
audi        10668
toyota       6737
skoda        6266
hyundi       4858
Name: marque, dtype: int64
***========================================***
===== model =====
 Fiesta     6556
 Golf       4863
 Focus      4588
 C Class    3747
 Corsa      3441
            ...
 Amica         1
220            1
200            1
 Escort        1
 Ranger        1
Name: model, Length: 195, dtype: int64
***========================================***
===== year =====
2019    26767
2017    21731
2016    15849
2018    13664
2015     7643
2020     4465
2014     4085
2013     2603
2012      634
2011      432
2010      340
2009      278
2008      200
2007      163
2006       86
2005       69
2004       52
2003       34
2002       31
2001       20
2000        9
1998        8
1999        6
1997        4
1996        2
1970        2
Name: year, dtype: int64
***========================================***
===== price =====
9995     594
8995     494
10995    483
12995    446
7995     433
        ...
79299      1
13752      1
13751      1
13746      1
32760      1
Name: price, Length: 13236, dtype: int64
***========================================***
===== transmission =====
Manual       56445
Semi-Auto    22677
Automatic    20055
Name: transmission, dtype: int64
***========================================***
===== kilometrage =====
16.090       840
1609.000     747
8045.000     686
9654.000     492
160.900      453
            ...
29441.482      1
65603.757      1
29439.873      1
29438.264      1
30035.203      1
Name: kilometrage, Length: 42213, dtype: int64
***========================================***
===== fuelType =====
Petrol      54923
Diesel      40926
Hybrid       3076
Other         246
Electric        6
Name: fuelType, dtype: int64
***========================================***
===== tax =====
145    48454
150    10913
30      8482
20      8343
125     6608
0       6292
200     2437
160     2066
135     1230
205      696
165      681
235      667
260      540
140      371
300      342
240      202
325      185
265      175
305       99
555       78
570       57
330       51
10        25
565       22
190       19
195       16
120       14
155       12
115       12
580       11
230       10
270        9
315        8
220        7
540        6
290        6
280        6
185        5
250        4
245        3
255        3
130        2
210        2
110        2
295        1
515        1
520        1
535        1
Name: tax, dtype: int64
***========================================***
===== mpg =====
60.1    6160
65.7    4717
54.3    4125
64.2    3607
51.4    3589
        ...
44.6       1
19.0       1
33.3       1
53.5       1
19.5       1
Name: mpg, Length: 208, dtype: int64
***========================================***
===== engineSize =====
2.0    27233
1.0    17322
1.5    11415
1.4    11025
1.6     8835
1.2     6963
3.0     5447
2.1     4017
1.8     1717
1.3     1372
1.7      911
1.1      567
2.2      469
2.5      456
4.0      357
0.0      272
2.9      171
2.3      153
4.4       79
2.4       72
5.0       52
5.5       44
2.8       41
1.9       27
3.2       27
4.2       26
4.7       24
5.2       23
3.5       20
6.2       13
2.7        8
0.6        7
6.6        2
6.0        2
3.7        2
4.1        2
5.4        1
4.5        1
6.3        1
4.3        1
Name: engineSize, dtype: int64
***========================================***

In [23]:
def recherche(data, col, val):
    print(data.loc[data[col]==val,:])
recherche(data,"engineSize", 0.0)

      marque    model  year  price transmission kilometrage fuelType  tax  \
7505    audi       Q5  2019  44790    Automatic    9470.574   Petrol  135
7506    audi       Q3  2019  32788    Automatic      2413.5   Diesel  145
7516    audi       Q3  2020  29944       Manual      2413.5   Petrol  145
7517    audi       Q3  2020  33333    Automatic      2413.5   Diesel  145
7518    audi       Q3  2020  29944    Automatic      2413.5   Petrol  145
...      ...      ...   ...    ...          ...         ...      ...  ...
95668     vw   Tiguan  2016  15300       Manual   61782.382   Diesel  145
95675     vw   Tiguan  2018  24000    Automatic     35719.8   Diesel  145
96841     vw       Up  2017   8500       Manual   32701.316   Petrol   20
96899     vw       Up  2017   8000       Manual   39330.396   Petrol   20
97332     vw   Beetle  2017  13800       Manual   28735.131   Petrol  125

         mpg  engineSize
7505   117.7         0.0
7506    47.1         0.0
7516    40.9         0.0
7517    47.1         0.0
7518    32.5         0.0
...      ...         ...
95668   53.3         0.0
95675   47.9         0.0
96841   64.2         0.0
96899   60.1         0.0
97332   53.3         0.0

[272 rows x 10 columns]

In [24]:
recherche(data,"engineSize", 0.0)

      marque    model  year  price transmission kilometrage fuelType  tax  \
7505    audi       Q5  2019  44790    Automatic    9470.574   Petrol  135
7506    audi       Q3  2019  32788    Automatic      2413.5   Diesel  145
7516    audi       Q3  2020  29944       Manual      2413.5   Petrol  145
7517    audi       Q3  2020  33333    Automatic      2413.5   Diesel  145
7518    audi       Q3  2020  29944    Automatic      2413.5   Petrol  145
...      ...      ...   ...    ...          ...         ...      ...  ...
95668     vw   Tiguan  2016  15300       Manual   61782.382   Diesel  145
95675     vw   Tiguan  2018  24000    Automatic     35719.8   Diesel  145
96841     vw       Up  2017   8500       Manual   32701.316   Petrol   20
96899     vw       Up  2017   8000       Manual   39330.396   Petrol   20
97332     vw   Beetle  2017  13800       Manual   28735.131   Petrol  125

         mpg  engineSize
7505   117.7         0.0
7506    47.1         0.0
7516    40.9         0.0
7517    47.1         0.0
7518    32.5         0.0
...      ...         ...
95668   53.3         0.0
95675   47.9         0.0
96841   64.2         0.0
96899   60.1         0.0
97332   53.3         0.0

[272 rows x 10 columns]

In [25]:
data.groupby(['marque']).mean()

                mpg  engineSize
marque
audi      50.770022    1.930709
bmw       56.399035    2.167767
ford      57.907832    1.350824
hyundi    53.825607    1.457863
merc      55.155638    2.071686
skoda     56.590680    1.433578
toyota    63.040003    1.471293
vauxhall  51.535734    1.417221
vw        53.753355    1.600693

In [26]:
affichage_freq()

===== marque =====
ford        17964
vw          15157
vauxhall    13629
merc        13117
bmw         10781
audi        10668
toyota       6737
skoda        6266
hyundi       4858
Name: marque, dtype: int64
***========================================***
===== model =====
 Fiesta     6556
 Golf       4863
 Focus      4588
 C Class    3747
 Corsa      3441
            ...
 Amica         1
220            1
200            1
 Escort        1
 Ranger        1
Name: model, Length: 195, dtype: int64
***========================================***
===== year =====
2019    26767
2017    21731
2016    15849
2018    13664
2015     7643
2020     4465
2014     4085
2013     2603
2012      634
2011      432
2010      340
2009      278
2008      200
2007      163
2006       86
2005       69
2004       52
2003       34
2002       31
2001       20
2000        9
1998        8
1999        6
1997        4
1996        2
1970        2
Name: year, dtype: int64
***========================================***
===== price =====
9995     594
8995     494
10995    483
12995    446
7995     433
        ...
79299      1
13752      1
13751      1
13746      1
32760      1
Name: price, Length: 13236, dtype: int64
***========================================***
===== transmission =====
Manual       56445
Semi-Auto    22677
Automatic    20055
Name: transmission, dtype: int64
***========================================***
===== kilometrage =====
16.090       840
1609.000     747
8045.000     686
9654.000     492
160.900      453
            ...
29441.482      1
65603.757      1
29439.873      1
29438.264      1
30035.203      1
Name: kilometrage, Length: 42213, dtype: int64
***========================================***
===== fuelType =====
Petrol      54923
Diesel      40926
Hybrid       3076
Other         246
Electric        6
Name: fuelType, dtype: int64
***========================================***
===== tax =====
145    48454
150    10913
30      8482
20      8343
125     6608
0       6292
200     2437
160     2066
135     1230
205      696
165      681
235      667
260      540
140      371
300      342
240      202
325      185
265      175
305       99
555       78
570       57
330       51
10        25
565       22
190       19
195       16
120       14
155       12
115       12
580       11
230       10
270        9
315        8
220        7
540        6
290        6
280        6
185        5
250        4
245        3
255        3
130        2
210        2
110        2
295        1
515        1
520        1
535        1
Name: tax, dtype: int64
***========================================***
===== mpg =====
60.1    6160
65.7    4717
54.3    4125
64.2    3607
51.4    3589
        ...
44.6       1
19.0       1
33.3       1
53.5       1
19.5       1
Name: mpg, Length: 208, dtype: int64
***========================================***
===== engineSize =====
2.0    27233
1.0    17322
1.5    11415
1.4    11025
1.6     8835
1.2     6963
3.0     5447
2.1     4017
1.8     1717
1.3     1372
1.7      911
1.1      567
2.2      469
2.5      456
4.0      357
0.0      272
2.9      171
2.3      153
4.4       79
2.4       72
5.0       52
5.5       44
2.8       41
1.9       27
3.2       27
4.2       26
4.7       24
5.2       23
3.5       20
6.2       13
2.7        8
0.6        7
6.6        2
6.0        2
3.7        2
4.1        2
5.4        1
4.5        1
6.3        1
4.3        1
Name: engineSize, dtype: int64
***========================================***

In [27]:
data_test = data.groupby(['marque']).mean()

In [28]:
data_test

                mpg  engineSize
marque
audi      50.770022    1.930709
bmw       56.399035    2.167767
ford      57.907832    1.350824
hyundi    53.825607    1.457863
merc      55.155638    2.071686
skoda     56.590680    1.433578
toyota    63.040003    1.471293
vauxhall  51.535734    1.417221
vw        53.753355    1.600693

In [29]:
data_test = round(data_test["engineSize"],1)
data_test

marque
audi        1.9
bmw         2.2
ford        1.4
hyundi      1.5
merc        2.1
skoda       1.4
toyota      1.5
vauxhall    1.4
vw          1.6
Name: engineSize, dtype: float64

In [30]:
print(data_test.index)

Index(['audi', 'bmw', 'ford', 'hyundi', 'merc', 'skoda', 'toyota', 'vauxhall',
       'vw'],
      dtype='object', name='marque')

In [31]:
data["engineSize"][data["marque"] == "audi" ]

0        1.4
1        2.0
2        1.4
3        2.0
4        1.0
        ...
10663    1.0
10664    1.0
10665    1.0
10666    1.4
10667    1.4
Name: engineSize, Length: 10668, dtype: float64

In [32]:
data.loc[data["marque"] == "audi","engineSize"]

0        1.4
1        2.0
2        1.4
3        2.0
4        1.0
        ...
10663    1.0
10664    1.0
10665    1.0
10666    1.4
10667    1.4
Name: engineSize, Length: 10668, dtype: float64

In [33]:
print(data_test[0])
print(data_test["audi"])
print(data_test.index[0])
#pd.crosstab(data["marque"] == "audi",data["model"])

1.9
1.9
audi

In [34]:
#data["engineSize"][data["marque"] == "audi" ] = data_test[0][data_test.index == "audi" ]
data.loc[(data["marque"] == "audi") & (data["engineSize"] == 0.0),"engineSize"]

7505    0.0
7506    0.0
7516    0.0
7517    0.0
7518    0.0
7519    0.0
7521    0.0
7542    0.0
7545    0.0
7546    0.0
7591    0.0
7598    0.0
7611    0.0
7625    0.0
7626    0.0
7627    0.0
7628    0.0
7631    0.0
7632    0.0
7641    0.0
7642    0.0
7644    0.0
7647    0.0
7649    0.0
7659    0.0
7662    0.0
7667    0.0
7668    0.0
7669    0.0
7670    0.0
7676    0.0
7685    0.0
7688    0.0
7694    0.0
7698    0.0
7700    0.0
7711    0.0
7718    0.0
7728    0.0
7732    0.0
7739    0.0
7740    0.0
7741    0.0
7743    0.0
7748    0.0
7749    0.0
7762    0.0
7835    0.0
7836    0.0
7837    0.0
7859    0.0
7861    0.0
7864    0.0
7892    0.0
8798    0.0
8866    0.0
9897    0.0
Name: engineSize, dtype: float64

In [35]:
def eliminer_engineSize0(ligne):
    if ligne["engineSize"] == 0.0:
        ligne["engineSize"] = data_test[ligne["marque"]]
    return ligne

In [36]:
data = data.apply(eliminer_engineSize0,axis=1)

In [37]:
affichage_freq()

===== marque =====
ford        17964
vw          15157
vauxhall    13629
merc        13117
bmw         10781
audi        10668
toyota       6737
skoda        6266
hyundi       4858
Name: marque, dtype: int64
***========================================***
===== model =====
 Fiesta     6556
 Golf       4863
 Focus      4588
 C Class    3747
 Corsa      3441
            ...
 Amica         1
220            1
200            1
 Escort        1
 Ranger        1
Name: model, Length: 195, dtype: int64
***========================================***
===== year =====
2019    26767
2017    21731
2016    15849
2018    13664
2015     7643
2020     4465
2014     4085
2013     2603
2012      634
2011      432
2010      340
2009      278
2008      200
2007      163
2006       86
2005       69
2004       52
2003       34
2002       31
2001       20
2000        9
1998        8
1999        6
1997        4
1996        2
1970        2
Name: year, dtype: int64
***========================================***
===== price =====
9995     594
8995     494
10995    483
12995    446
7995     433
        ...
32745      1
12259      1
10068      1
16215      1
10245      1
Name: price, Length: 13236, dtype: int64
***========================================***
===== transmission =====
Manual       56445
Semi-Auto    22677
Automatic    20055
Name: transmission, dtype: int64
***========================================***
===== kilometrage =====
16.090       840
1609.000     747
8045.000     686
9654.000     492
160.900      453
            ...
28358.625      1
11980.614      1
58154.087      1
95083.855      1
63883.736      1
Name: kilometrage, Length: 42213, dtype: int64
***========================================***
===== fuelType =====
Petrol      54923
Diesel      40926
Hybrid       3076
Other         246
Electric        6
Name: fuelType, dtype: int64
***========================================***
===== tax =====
145    48454
150    10913
30      8482
20      8343
125     6608
0       6292
200     2437
160     2066
135     1230
205      696
165      681
235      667
260      540
140      371
300      342
240      202
325      185
265      175
305       99
555       78
570       57
330       51
10        25
565       22
190       19
195       16
120       14
155       12
115       12
580       11
230       10
270        9
315        8
220        7
540        6
290        6
280        6
185        5
250        4
245        3
255        3
110        2
130        2
210        2
295        1
535        1
520        1
515        1
Name: tax, dtype: int64
***========================================***
===== mpg =====
60.1    6160
65.7    4717
54.3    4125
64.2    3607
51.4    3589
        ...
44.6       1
19.0       1
33.3       1
53.5       1
19.5       1
Name: mpg, Length: 208, dtype: int64
***========================================***
===== engineSize =====
2.0    27233
1.0    17322
1.5    11468
1.4    11114
1.6     8850
1.2     6963
3.0     5447
2.1     4028
1.8     1717
1.3     1372
1.7      911
1.1      567
2.2      516
2.5      456
4.0      357
2.9      171
2.3      153
1.9       84
4.4       79
2.4       72
5.0       52
5.5       44
2.8       41
3.2       27
4.2       26
4.7       24
5.2       23
3.5       20
6.2       13
2.7        8
0.6        7
6.6        2
6.0        2
3.7        2
4.1        2
5.4        1
4.5        1
6.3        1
4.3        1
Name: engineSize, dtype: int64
***========================================***

In [38]:
data

,marque,model,year,price,transmission,kilometrage,fuelType,tax,mpg,engineSize
0,audi,A1,2017,12500,Manual,25317.615,Petrol,150,55.4,1.4
1,audi,A6,2016,16500,Automatic,58250.627,Diesel,20,64.2,2.0
2,audi,A1,2016,11000,Manual,48183.114,Petrol,30,55.4,1.4
3,audi,A4,2017,16800,Automatic,41756.768,Diesel,145,67.3,2.0
4,audi,A3,2019,17300,Manual,3214.782,Petrol,145,49.6,1.0
...,...,...,...,...,...,...,...,...,...,...
99172,vw,Eos,2012,5990,Manual,119066.000,Diesel,125,58.9,2.0
99173,vw,Fox,2008,1799,Manual,141756.118,Petrol,145,46.3,1.2
99174,vw,Fox,2009,1590,Manual,112630.000,Petrol,200,42.0,1.4
99175,vw,Fox,2006,1250,Manual,133070.736,Petrol,150,46.3,1.2
99176,vw,Fox,2007,2295,Manual,119066.000,Petrol,145,46.3,1.2

In [39]:
#pd.set_option('display.max_row',None)
pd.set_option('display.max_row',10)
print(data["model"].value_counts())

 Fiesta     6556
 Golf       4863
 Focus      4588
 C Class    3747
 Corsa      3441
            ...
 Amica         1
220            1
200            1
 Escort        1
 Ranger        1
Name: model, Length: 195, dtype: int64

In [40]:
print(data["model"])

0          A1
1          A6
2          A1
3          A4
4          A3
         ...
99172     Eos
99173     Fox
99174     Fox
99175     Fox
99176     Fox
Name: model, Length: 99177, dtype: object

In [41]:
# attention rappel, il faudra changer les types de model pour n'avoir que des string
data["model"] = pd.Series(data["model"], dtype="string")

In [42]:
print(data["model"])

0          A1
1          A6
2          A1
3          A4
4          A3
         ...
99172     Eos
99173     Fox
99174     Fox
99175     Fox
99176     Fox
Name: model, Length: 99177, dtype: string

In [43]:
#pd.set_option('display.max_row',None)
pd.set_option('display.max_row',10)
print(data["kilometrage"])
#print(data["kilometrage"].value_counts())

0         25317.615
1         58250.627
2         48183.114
3         41756.768
4          3214.782
            ...
99172    119066.000
99173    141756.118
99174    112630.000
99175    133070.736
99176    119066.000
Name: kilometrage, Length: 99177, dtype: float64

In [44]:
def aff_Min_Moy_Max(col):
    print("La colonne :",col)
    print("MIN :",data[col].min(),"\nMOY :",data[col].mean(),"\nMAX :",data[col].max())
aff_Min_Moy_Max("price")
aff_Min_Moy_Max("kilometrage")
aff_Min_Moy_Max("mpg")

La colonne : price
MIN : 450
MOY : 16805.504814624357
MAX : 159999
La colonne : kilometrage
MIN : 1.609
MOY : 37102.16627348075
MAX : 519707.0
La colonne : mpg
MIN : 0.3
MOY : 55.16690381842563
MAX : 470.8

In [45]:
#pd.set_option('display.max_row',None)
pd.set_option('display.max_row',10)
print(data["price"])
#print(data["price"].value_counts())

0        12500
1        16500
2        11000
3        16800
4        17300
         ...
99172     5990
99173     1799
99174     1590
99175     1250
99176     2295
Name: price, Length: 99177, dtype: int64

In [46]:
#pd.set_option('display.max_row',None)
pd.set_option('display.max_row',10)
print(data["mpg"])
#print(data["price"].value_counts())

0        55.4
1        64.2
2        55.4
3        67.3
4        49.6
         ...
99172    58.9
99173    46.3
99174    42.0
99175    46.3
99176    46.3
Name: mpg, Length: 99177, dtype: float64

In [47]:
data = data.rename(columns={"mpg": "L/100km"})
data

,marque,model,year,price,transmission,kilometrage,fuelType,tax,L/100km,engineSize
0,audi,A1,2017,12500,Manual,25317.615,Petrol,150,55.4,1.4
1,audi,A6,2016,16500,Automatic,58250.627,Diesel,20,64.2,2.0
2,audi,A1,2016,11000,Manual,48183.114,Petrol,30,55.4,1.4
3,audi,A4,2017,16800,Automatic,41756.768,Diesel,145,67.3,2.0
4,audi,A3,2019,17300,Manual,3214.782,Petrol,145,49.6,1.0
...,...,...,...,...,...,...,...,...,...,...
99172,vw,Eos,2012,5990,Manual,119066.000,Diesel,125,58.9,2.0
99173,vw,Fox,2008,1799,Manual,141756.118,Petrol,145,46.3,1.2
99174,vw,Fox,2009,1590,Manual,112630.000,Petrol,200,42.0,1.4
99175,vw,Fox,2006,1250,Manual,133070.736,Petrol,150,46.3,1.2
99176,vw,Fox,2007,2295,Manual,119066.000,Petrol,145,46.3,1.2

In [48]:
# coef dispo sur : 
# https://www.unitjuggler.com/convertir-fuelconsumption-de-mpgimperial-en-lper100km.html?val=55.4
data["L/100km"] = 282.4809363/data["L/100km"]

data

,marque,model,year,price,transmission,kilometrage,fuelType,tax,L/100km,engineSize
0,audi,A1,2017,12500,Manual,25317.615,Petrol,150,5.098934,1.4
1,audi,A6,2016,16500,Automatic,58250.627,Diesel,20,4.400015,2.0
2,audi,A1,2016,11000,Manual,48183.114,Petrol,30,5.098934,1.4
3,audi,A4,2017,16800,Automatic,41756.768,Diesel,145,4.197339,2.0
4,audi,A3,2019,17300,Manual,3214.782,Petrol,145,5.695180,1.0
...,...,...,...,...,...,...,...,...,...,...
99172,vw,Eos,2012,5990,Manual,119066.000,Diesel,125,4.795941,2.0
99173,vw,Fox,2008,1799,Manual,141756.118,Petrol,145,6.101100,1.2
99174,vw,Fox,2009,1590,Manual,112630.000,Petrol,200,6.725737,1.4
99175,vw,Fox,2006,1250,Manual,133070.736,Petrol,150,6.101100,1.2
99176,vw,Fox,2007,2295,Manual,119066.000,Petrol,145,6.101100,1.2

In [49]:
aff_Min_Moy_Max("L/100km")

La colonne : L/100km
MIN : 0.6000019887425658
MOY : 5.461974684958201
MAX : 941.603121

In [50]:
#pd.set_option('display.max_row',None)
pd.set_option('display.max_row',10)
print(data["L/100km"])
#print(data["price"].value_counts())

0        5.098934
1        4.400015
2        5.098934
3        4.197339
4        5.695180
           ...
99172    4.795941
99173    6.101100
99174    6.725737
99175    6.101100
99176    6.101100
Name: L/100km, Length: 99177, dtype: float64

In [51]:
print(data["marque"].value_counts())

ford        17964
vw          15157
vauxhall    13629
merc        13117
bmw         10781
audi        10668
toyota       6737
skoda        6266
hyundi       4858
Name: marque, dtype: int64

In [52]:
data["price"] = data["price"] *117 / 100

data

,marque,model,year,price,transmission,kilometrage,fuelType,tax,L/100km,engineSize
0,audi,A1,2017,14625.00,Manual,25317.615,Petrol,150,5.098934,1.4
1,audi,A6,2016,19305.00,Automatic,58250.627,Diesel,20,4.400015,2.0
2,audi,A1,2016,12870.00,Manual,48183.114,Petrol,30,5.098934,1.4
3,audi,A4,2017,19656.00,Automatic,41756.768,Diesel,145,4.197339,2.0
4,audi,A3,2019,20241.00,Manual,3214.782,Petrol,145,5.695180,1.0
...,...,...,...,...,...,...,...,...,...,...
99172,vw,Eos,2012,7008.30,Manual,119066.000,Diesel,125,4.795941,2.0
99173,vw,Fox,2008,2104.83,Manual,141756.118,Petrol,145,6.101100,1.2
99174,vw,Fox,2009,1860.30,Manual,112630.000,Petrol,200,6.725737,1.4
99175,vw,Fox,2006,1462.50,Manual,133070.736,Petrol,150,6.101100,1.2
99176,vw,Fox,2007,2685.15,Manual,119066.000,Petrol,145,6.101100,1.2

In [53]:
data["price"] = pd.Series(data["price"], dtype="int")
data

,marque,model,year,price,transmission,kilometrage,fuelType,tax,L/100km,engineSize
0,audi,A1,2017,14625,Manual,25317.615,Petrol,150,5.098934,1.4
1,audi,A6,2016,19305,Automatic,58250.627,Diesel,20,4.400015,2.0
2,audi,A1,2016,12870,Manual,48183.114,Petrol,30,5.098934,1.4
3,audi,A4,2017,19656,Automatic,41756.768,Diesel,145,4.197339,2.0
4,audi,A3,2019,20241,Manual,3214.782,Petrol,145,5.695180,1.0
...,...,...,...,...,...,...,...,...,...,...
99172,vw,Eos,2012,7008,Manual,119066.000,Diesel,125,4.795941,2.0
99173,vw,Fox,2008,2104,Manual,141756.118,Petrol,145,6.101100,1.2
99174,vw,Fox,2009,1860,Manual,112630.000,Petrol,200,6.725737,1.4
99175,vw,Fox,2006,1462,Manual,133070.736,Petrol,150,6.101100,1.2
99176,vw,Fox,2007,2685,Manual,119066.000,Petrol,145,6.101100,1.2

In [54]:
data["kilometrage"] = pd.Series(data["kilometrage"], dtype="int")
data

,marque,model,year,price,transmission,kilometrage,fuelType,tax,L/100km,engineSize
0,audi,A1,2017,14625,Manual,25317,Petrol,150,5.098934,1.4
1,audi,A6,2016,19305,Automatic,58250,Diesel,20,4.400015,2.0
2,audi,A1,2016,12870,Manual,48183,Petrol,30,5.098934,1.4
3,audi,A4,2017,19656,Automatic,41756,Diesel,145,4.197339,2.0
4,audi,A3,2019,20241,Manual,3214,Petrol,145,5.695180,1.0
...,...,...,...,...,...,...,...,...,...,...
99172,vw,Eos,2012,7008,Manual,119066,Diesel,125,4.795941,2.0
99173,vw,Fox,2008,2104,Manual,141756,Petrol,145,6.101100,1.2
99174,vw,Fox,2009,1860,Manual,112630,Petrol,200,6.725737,1.4
99175,vw,Fox,2006,1462,Manual,133070,Petrol,150,6.101100,1.2
99176,vw,Fox,2007,2685,Manual,119066,Petrol,145,6.101100,1.2

In [55]:
#pd.set_option('display.max_row',10)
print(data.loc[data["L/100km"]>=55,:])

       marque     model  year  price transmission  kilometrage fuelType  tax  \
39623  hyundi     Ioniq  2019  26907    Automatic         4575   Hybrid  140
40221  hyundi     Ioniq  2020  27957    Automatic         6680   Hybrid  135
42363  hyundi     Ioniq  2020  31584    Automatic         2075   Hybrid  135
44217  hyundi     Ioniq  2020  33924    Automatic         8387   Hybrid  135
46795    merc   A Class  2020  35370    Semi-Auto         6436   Hybrid  140
...       ...       ...   ...    ...          ...          ...      ...  ...
70247  toyota     Hilux  2020  45930    Automatic         2025   Diesel  265
70248  toyota     Hilux  2019  32584    Automatic        16492   Diesel  260
70249  toyota     Hilux  2020  35685    Automatic         8045   Diesel  260
70270  toyota     Hilux  2020  43284    Automatic          241   Diesel  260
98524      vw   Golf SV  2019  21001       Manual          160   Petrol  145

          L/100km  engineSize
39623  256.800851         1.6
40221  256.800851         1.6
42363  256.800851         1.6
44217  256.800851         1.6
46795  256.800851         1.3
...           ...         ...
70247  100.886049         2.4
70248  100.886049         2.4
70249  100.886049         2.4
70270  100.886049         2.4
98524  941.603121         1.0

[19 rows x 10 columns]

In [56]:
print((data["fuelType"] == "Hybrid").value_counts())

False    96101
True      3076
Name: fuelType, dtype: int64

In [57]:
data.drop(data.loc[data["L/100km"] >= 60].index, inplace=True)

In [58]:
data.reset_index(drop=True, inplace=True)

In [59]:
pd.set_option('display.max_row',10)

In [60]:
data

,marque,model,year,price,transmission,kilometrage,fuelType,tax,L/100km,engineSize
0,audi,A1,2017,14625,Manual,25317,Petrol,150,5.098934,1.4
1,audi,A6,2016,19305,Automatic,58250,Diesel,20,4.400015,2.0
2,audi,A1,2016,12870,Manual,48183,Petrol,30,5.098934,1.4
3,audi,A4,2017,19656,Automatic,41756,Diesel,145,4.197339,2.0
4,audi,A3,2019,20241,Manual,3214,Petrol,145,5.695180,1.0
...,...,...,...,...,...,...,...,...,...,...
99153,vw,Eos,2012,7008,Manual,119066,Diesel,125,4.795941,2.0
99154,vw,Fox,2008,2104,Manual,141756,Petrol,145,6.101100,1.2
99155,vw,Fox,2009,1860,Manual,112630,Petrol,200,6.725737,1.4
99156,vw,Fox,2006,1462,Manual,133070,Petrol,150,6.101100,1.2
99157,vw,Fox,2007,2685,Manual,119066,Petrol,145,6.101100,1.2

In [61]:
data["tax"] = data["tax"] *117 / 100
data

,marque,model,year,price,transmission,kilometrage,fuelType,tax,L/100km,engineSize
0,audi,A1,2017,14625,Manual,25317,Petrol,175.50,5.098934,1.4
1,audi,A6,2016,19305,Automatic,58250,Diesel,23.40,4.400015,2.0
2,audi,A1,2016,12870,Manual,48183,Petrol,35.10,5.098934,1.4
3,audi,A4,2017,19656,Automatic,41756,Diesel,169.65,4.197339,2.0
4,audi,A3,2019,20241,Manual,3214,Petrol,169.65,5.695180,1.0
...,...,...,...,...,...,...,...,...,...,...
99153,vw,Eos,2012,7008,Manual,119066,Diesel,146.25,4.795941,2.0
99154,vw,Fox,2008,2104,Manual,141756,Petrol,169.65,6.101100,1.2
99155,vw,Fox,2009,1860,Manual,112630,Petrol,234.00,6.725737,1.4
99156,vw,Fox,2006,1462,Manual,133070,Petrol,175.50,6.101100,1.2
99157,vw,Fox,2007,2685,Manual,119066,Petrol,169.65,6.101100,1.2

In [62]:
data["tax"] = pd.Series(data["tax"], dtype="int")
data

,marque,model,year,price,transmission,kilometrage,fuelType,tax,L/100km,engineSize
0,audi,A1,2017,14625,Manual,25317,Petrol,175,5.098934,1.4
1,audi,A6,2016,19305,Automatic,58250,Diesel,23,4.400015,2.0
2,audi,A1,2016,12870,Manual,48183,Petrol,35,5.098934,1.4
3,audi,A4,2017,19656,Automatic,41756,Diesel,169,4.197339,2.0
4,audi,A3,2019,20241,Manual,3214,Petrol,169,5.695180,1.0
...,...,...,...,...,...,...,...,...,...,...
99153,vw,Eos,2012,7008,Manual,119066,Diesel,146,4.795941,2.0
99154,vw,Fox,2008,2104,Manual,141756,Petrol,169,6.101100,1.2
99155,vw,Fox,2009,1860,Manual,112630,Petrol,234,6.725737,1.4
99156,vw,Fox,2006,1462,Manual,133070,Petrol,175,6.101100,1.2
99157,vw,Fox,2007,2685,Manual,119066,Petrol,169,6.101100,1.2

In [63]:

data["transmission"] = pd.Series(data["transmission"], dtype="string")
data["marque"] = pd.Series(data["marque"], dtype="string")
data["fuelType"] = pd.Series(data["fuelType"], dtype="string")

In [64]:
# data["marque"]#ok
# data["model"]#ok
# data["year"]#ok
# data["price"]#ok
# data["transmission"]# ok
# data["kilometrage"]#ok
# data["fuelType"]# ok
# data["tax"]# ok
# data["L/100km"]#ok
# data["engineSize"] #ok

In [65]:
data.to_csv("data_voiture_clean.csv", index=False, header=True)

In [66]:
data_voiture_clean = pd.read_csv("data_voiture_clean.csv")

In [67]:
data_voiture_clean

,marque,model,year,price,transmission,kilometrage,fuelType,tax,L/100km,engineSize
0,audi,A1,2017,14625,Manual,25317,Petrol,175,5.098934,1.4
1,audi,A6,2016,19305,Automatic,58250,Diesel,23,4.400015,2.0
2,audi,A1,2016,12870,Manual,48183,Petrol,35,5.098934,1.4
3,audi,A4,2017,19656,Automatic,41756,Diesel,169,4.197339,2.0
4,audi,A3,2019,20241,Manual,3214,Petrol,169,5.695180,1.0
...,...,...,...,...,...,...,...,...,...,...
99153,vw,Eos,2012,7008,Manual,119066,Diesel,146,4.795941,2.0
99154,vw,Fox,2008,2104,Manual,141756,Petrol,169,6.101100,1.2
99155,vw,Fox,2009,1860,Manual,112630,Petrol,234,6.725737,1.4
99156,vw,Fox,2006,1462,Manual,133070,Petrol,175,6.101100,1.2
99157,vw,Fox,2007,2685,Manual,119066,Petrol,169,6.101100,1.2

In [68]:
# from sklearn.linear_model import LinearRegression
# reg = LinearRegression()
# def getXy():
#     data = pd.read_csv("data_voiture_clean.csv")
#     for col in ["model","transmission","fuelType"]:
#         data = pd.get_dummies(data,columns=[col],drop_first=True )     
#     X = data.drop(columns=["marque","price"]).values.reshape(-1,205)
#     y = data["price"].values
#     Xtrain,Xtest, ytrain,ytest = train_test_split(X,y, random_state = 42, test_size = 0.30)
#     return Xtrain, Xtest, ytrain,ytest
# Xtrain, Xtest,ytrain,ytest = getXy()
# reg.fit(Xtrain,ytrain)
# reg.score(Xtest,ytest)